---
layout: feed
permalink: /feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: Chris Spiegl
  url: https://ChrisSpiegl.com
  author:
    name: Chris Spiegl
    email: team@ChrisSpiegl.com
  feed:
    subtitle: I am exploring life in many forms.
    filename: feed.xml
    path: /
    url: https://ChrisSpiegl.com/feed.xml
    id: https://ChrisSpiegl.com
---
