div.content.feedback Share your feedback about this article with me via
  br
  | #[a(href="/twitter") Twitter], #[a(href="/instagram") Instagram], #[a(href="/telegram") Telegram], or #[a(href=`mailto:chris@chrisspiegl.com?subject=Post Feedback about ${title}`) Email].