div.content.feedback Share your feedback about this article with me via
  br
  | #[a(href="/x") ğ•], #[a(href="/instagram") Instagram], #[a(href="/tgg") Telegram], or #[a(href=`mailto:team@ChrisSpiegl.com?subject=Post Feedback about ${title}`) Email].
