.post
  h1
    a(href=((externalLink) ? externalLink : url), title="Permalink")!= title
  p
    time(datetime=global.dateHtml(page.date), pubdate="pubdate")= global.dateReadable(page.date)
    = ' '
    a(class="permalink", title="Permalink" href=page.url) âˆ

  div.content!= content

  div.content Share your feedback about this article with me via #[a(href="/x") ğ•], #[a(href="/instagram") Instagram], #[a(href="/tgg") Telegram], or #[a(href=`mailto:team@ChrisSpiegl.com?subject=Post Feedback about ${title}`) Email].

  div.linkBack: p: a(href="/archive") Archive of all Articles
